<div class="uk-flex uk-flex-middle uk-flex-center">
				<div>
					<div class="uk-utility-vertical-scroller-wrapper" uk-slider-vertical="autoplay: false; autoplay-interval: 4000; slider-count: 3;">
						<div class="uk-overflow-hidden">
							<div class="uk-utility-vertical-scroller-carousel uk-slider-vertical-items uk-noselect">
																	
<a href="https://www.spond.com/group-fundraising/" class="uk-utility-vertical-scroller-carousel-item uk-display-flex cursor-pointer ">
	<div class="uk-utility-vertical-scroller-carousel-content">
					<span class="uk-utility-vertical-scroller-carousel-meta-title style-1">App Feature</span>
				<span class="uk-utility-vertical-scroller-carousel-title style-1">Group Fundraising</span>
			</div>
						<span class="uk-utility-vertical-scroller-carousel-image uk-preserve" uk-icon="icon: fundraising-graphic">
					</a>																	
<a href="https://www.spond.com/payments/" class="uk-utility-vertical-scroller-carousel-item uk-display-flex cursor-pointer ">
	<div class="uk-utility-vertical-scroller-carousel-content">
					<span class="uk-utility-vertical-scroller-carousel-meta-title style-1">App Feature</span>
				<span class="uk-utility-vertical-scroller-carousel-title style-1">Collecting Payments</span>
			</div>
						<span class="uk-utility-vertical-scroller-carousel-image uk-preserve" uk-icon="icon: payments-graphic">
					</a>																	
<a href="https://www.spond.com/group-set-up/" class="uk-utility-vertical-scroller-carousel-item uk-display-flex cursor-pointer ">
	<div class="uk-utility-vertical-scroller-carousel-content">
					<span class="uk-utility-vertical-scroller-carousel-meta-title style-1">App Feature</span>
				<span class="uk-utility-vertical-scroller-carousel-title style-1">Group Setup</span>
			</div>
						<span class="uk-utility-vertical-scroller-carousel-image uk-preserve" uk-icon="icon: group-set-up-graphic">
					</a>																	
<a href="https://www.spond.com/events/" class="uk-utility-vertical-scroller-carousel-item uk-display-flex cursor-pointer ">
	<div class="uk-utility-vertical-scroller-carousel-content">
					<span class="uk-utility-vertical-scroller-carousel-meta-title style-1">App Feature</span>
				<span class="uk-utility-vertical-scroller-carousel-title style-1">Planning Events</span>
			</div>
						<span class="uk-utility-vertical-scroller-carousel-image uk-preserve" uk-icon="icon: planning-events-graphic">
					</a>																	
<a href="https://www.spond.com/club-management/" class="uk-utility-vertical-scroller-carousel-item uk-display-flex cursor-pointer ">
	<div class="uk-utility-vertical-scroller-carousel-content">
					<span class="uk-utility-vertical-scroller-carousel-meta-title style-1">Club Feature</span>
				<span class="uk-utility-vertical-scroller-carousel-title style-1">Club Management</span>
			</div>
						<span class="uk-utility-vertical-scroller-carousel-image uk-preserve" uk-icon="icon: club-management-graphic">
					</a>																	
<a href="https://www.spond.com/manage-members-groups/" class="uk-utility-vertical-scroller-carousel-item uk-display-flex cursor-pointer ">
	<div class="uk-utility-vertical-scroller-carousel-content">
					<span class="uk-utility-vertical-scroller-carousel-meta-title style-1">Club Feature</span>
				<span class="uk-utility-vertical-scroller-carousel-title style-1">Manage Members &amp; Groups</span>
			</div>
						<span class="uk-utility-vertical-scroller-carousel-image uk-preserve" uk-icon="icon: managing-a-group-graphic">
					</a>																	
<a href="https://www.spond.com/summer-camps-academy/" class="uk-utility-vertical-scroller-carousel-item uk-display-flex cursor-pointer ">
	<div class="uk-utility-vertical-scroller-carousel-content">
					<span class="uk-utility-vertical-scroller-carousel-meta-title style-1">Club Feature</span>
				<span class="uk-utility-vertical-scroller-carousel-title style-1">Course Registration</span>
			</div>
						<span class="uk-utility-vertical-scroller-carousel-image uk-preserve" uk-icon="icon: course-reg-graphic">
					</a>																	
<a href="https://www.spond.com/club-fundraising/" class="uk-utility-vertical-scroller-carousel-item uk-display-flex cursor-pointer ">
	<div class="uk-utility-vertical-scroller-carousel-content">
					<span class="uk-utility-vertical-scroller-carousel-meta-title style-1">Club Feature</span>
				<span class="uk-utility-vertical-scroller-carousel-title style-1">Club Fundraising</span>
			</div>
						<span class="uk-utility-vertical-scroller-carousel-image uk-preserve" uk-icon="icon: fundraising-graphic">
					</a>																							</div>
						</div>
						<span class=" uk-utility-vertical-scroller-icon uk-position-relative uk-position-z-index uk-utility-vertical-scroller-icon-down uk-icon-vertical-slider-down" uk-icon="icon:arrow"></span>
						<span class="uk-utility-vertical-scroller-icon uk-position-relative uk-position-z-index uk-utility-vertical-scroller-icon-up uk-icon-vertical-slider-up" uk-icon="icon:arrow"></span>
					</div>
				</div>
			</div>